<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.armetech.ajudae">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".navigation.SplashActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.gui.LoginActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".user.gui.RegisterActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".navigation.WelcomeActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".user.gui.LoginAvaActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".user.gui.ScheduleAvaActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".user.gui.SelectHelpSubjectActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".navigation.BottomTabActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".questions.gui.AddQuestionActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".user.gui.EditProfileActivity"
            android:theme="@style/AppThemeNoActionBar">

        </activity>
    </application>

</manifest>